[project]
	description = BGP/PCEP protocol library
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-bgpcep-commiters
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/master:refs/heads/master
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
