{% for peer in peers %}
neighbor {{ ODLIP }} {
    router-id {{ peer.ip }};
    local-address {{ peer.ip }};
    local-as 64496;
    peer-as 64496;

    static {
        route {{ peer.index }}.1.1.0/24 {
            next-hop 11.0.{{ peer.index }}.254;
            community [ 30741:30741 30741:0 ];
        }
    }
     capability {
        route-refresh {{ ROUTEREFRESH }};
        add-path {{ ADDPATH }};
    }
    family { all }
}
{% endfor %}